@import '../../styles/_variables.scss';

.container {
  text-align: center;
  padding: 3rem 0;
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border: 2px solid transparent;
  border-bottom: 2px solid $primary-main;

  &.sm {
    height: 1.5rem;
    width: 1.5rem;
  }

  &.md {
    height: 2rem;
    width: 2rem;
  }

  &.lg {
    height: 3rem;
    width: 3rem;
  }
}

.message {
  margin-top: $spacing-md;
  color: $text-secondary;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}